<h1>New Comment</h1>

<%= render 'form' %>

<% if params[:object_type] == 'Theorem' %>
  <%= link_to 'Back', theorem_path(params[:object_id]) %>
<% elsif params[:object_type] == 'Argument' %>
  <%= link_to 'Back', argument_path(params[:object_id]) %>
<% end %>
