<p id="notice"><%= notice %></p>
<p>An argument supporting the theorem: <a href="<%=theorem_path @argument.theorem%>"><%=@argument.theorem.text%></a></p>
<%= react_component('ShowArgument',
  argument: @argument,
  tids: params[:tids],
  user: current_user,
  signInPath: user_omniauth_authorize_path(:facebook) + '?' + {origin: request.path}.to_query,
  newObjectionPath: new_theorem_path,
  max: Theorem::MAX_LENGTH,
) %>
