<h1>Welcome to Proofs</h1>
<p class="definition">Theorem: a purportedly true statement that can be supported or assumed.</p>
<p class="definition">Argument: a series of theorems which supports a conclusion (which is itself a theorem). Can be an ordered chain of reasoning or a list of unconnected supporting theorems.</p>



