<h1>Welcome to Proofs</h1>
<div class="page-container home">
  <p>The purpose of this site is to encourage structured logical argument. We've all seen flamewars and endless comment threads. While I have no doubt that some of that will live here, the site tries to discourage it in a structured way by enforcing limits on who can respond, where, and how much space you are given.</p>
  <p>Here, we make distinctions between types of statements. These are the important ones:</p>
  <ul>
    <li class="definition">Theorem: a purportedly true statement that can be supported or assumed. 200 characters or less.</li>
    <li class="definition">Argument: a series of theorems which supports a conclusion (which is itself a theorem). Can be an ordered chain of reasoning or a list of unconnected supporting theorems.</li>
    <li class="definition">Objection: a theorem which refutes a previous theorem. Can be attached to any theorem in an argument.</li>
    <li class="definition">Comment: a potentially sprawling blob of text which is attached to a theorem (or an objection).</li>
  </ul>
  <p>By limiting theorems to 200 characters, we encourge brevity, and clarity. Don't use big words when little ones will do.</p>
  <p>By ordering theorems within an argument, we encourge step-by-step, deductive reasoning. Don't get off topic.</p>
  <p>By requiring objections to be to a specific theorem, we encourge specific critizism. Don't hand-wave away an argument you don't like. Rather, point to the specific error the argument makes. No ad hominem here, for even Nazis can make correct arguments sometimes.</p>
  <p>Confused? It's easier to see it in action: <a href="/theorems">Get started</a> by looking at some of our more popular theorems.</p>
  <hr/>
</div>
<div class="home-page-theorems">
  <%= react_component('TheoremList', theorems: Theorem.where(root: true).order('views desc').limit(6), noSearch: true) %>
</div>
