<p id="notice"><%= notice %></p>
<div>
  <% if current_user %>
    <%= link_to 'New Theorem', new_theorem_path %> |
  <% end %>
  <%= link_to "Arguments", arguments_path %>
</div>

<%= react_component('TheoremList', theorems: @theorems, query: @query) %>

