<p id="notice"><%= notice %></p>
<div class="user-sign-in">
  <% if current_user %>
   <%= link_to 'New Theorem', new_theorem_path %>
  <% end %>
</div>

<h2>Theorems</h2>
<%= react_component('TheoremList', theorems: @theorems, query: @query, user: current_user) %>

