@import 'prefixer.css.less';

.argument {
  border: 2px solid rgba(0,0,0,0.3);
  border-radius: 2px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  .argument-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  .argument-control-buttons {
    margin-bottom: 10px;
    button {
      margin-right: 10px;
    }
  }
  .argument-theorem {
    padding-top: 3px;
    padding-bottom: 5px;
    &:hover {
      background-color: #fafafa;
      a.object-link {
        display: inline;
      }
    }
    
    a.object-link {
      display: none;
      font-size: 13px;
    }
  }
}

.new-argument {
  border: 2px solid #e23d3d;
  border-radius: 2px;
  padding: 20px;
  margin-top: 10px;
  & > div {
    margin-bottom: 5px;
  }
  .argument-name {
  
  }
}
