@import 'prefixer.css.less';

.argument {
  border: 2px solid rgba(0,0,0,0.3);
  border-radius: 2px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  .argument-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  .argument-control-buttons {
    margin-bottom: 10px;
    button {
      margin-right: 10px;
    }
  }
  .argument-theorem {
    padding-top: 3px;
    padding-bottom: 5px;
    .flex-block();
    .justify-content(space-between);
    &:hover {
      background-color: #fafafa;
      a.object-link {
        display: inline;
      }
    }
    
    span.number {
      width: 30px;
      text-align: right;
    }
    span.text {
      .flex-grow(2);
      padding-left: 15px;
      padding-right: 15px;
    }
    a.object-link {
      display: none;
      font-size: 13px;
    }
  }
  .objections-list {
    width: 936px;
    background: white;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    padding: 20px;
    margin-left: -22px;
    margin-top: 5px;
    margin-bottom: 5px;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .objection-summary {
      padding: 10px;
      font-size: 18px;
      line-height: 22px;
      border-bottom: 1px solid black;
      .author {
        font-style: italic;
        font-size: 12px;
      }
      .objection-text {
        margin-left: 20px;
      }
    }
  }
}

.new-argument {
  border: 2px solid #e23d3d;
  border-radius: 2px;
  padding: 20px;
  margin-top: 10px;
  & > div {
    margin-bottom: 5px;
  }
  .argument-name {
  
  }
}
