// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-header {
  font-size: 12px;
  background-color: black;
  padding: 10px;
  font-style: italic;
  text-align: center;
  a {
    color: white;
    background-color: transparent;
    text-decoration: none;
    &:hover, &:visited {
      color: white;
      background-color: transparent;
    }
  }
}
