@import "prefixer.css.less";

.selector {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  &.active {
    color: white;
    background-color: #e23d3d;
  }
}

.theorem-list {
  .search-section {
    .flex-block();
    padding: 30px 60px;
    border-bottom: 1px solid black;
    .search-bar {
      .flex-grow(2);
      button {
        position: relative;
        left: -60px;
        top: -2px;
        height: 30px;
      }
    }
  }
  .results {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

    .root-theorem-preview {
      border: 2px solid rgba(0,0,0,0.3);
      border-radius: 2px;
      padding: 20px 10px;
      margin-bottom: 15px;
      &:hover {
        background-color: #fafafa;
      }
      .header {
        .flex-block();
        .justify-content(space-between);
        margin-bottom: 10px;
        .title {
          font-size: 18px;
          font-weight: bold;
          line-height: 21px;
          cursor: pointer;
        }
        .views {
          font-weight: bold;
        }
      }
      .body {
        .theorem-arguments {
          color: #444;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .timestamp {
          color: #888;
          font-size: 14px;
        }
      }
    }
  }
}

.filters {
  border: 1px solid black;
  border-radius: 2px;
  overflow: hidden;
  background-color: #aaa;
  .flex-block();
  & > div {
    padding: 5px 10px;
    cursor: pointer;
    &.selected {
      background-color: black;
      color: white;
    }
  }
  .left {
    border-right: 1px solid black;
  }
}

.theorem-control-buttons {
  .flex-block();
  .justify-content(flex-end);
  button {
    margin-left: 20px;
  }
  a {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.page-container {
  &.less-top {
    margin-top: 30px;
  }
  
  .objection {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    .unsupported-notice {
      font-style: italic;
      font-size: 12px;
    }
    .author {
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}
