@import "prefixer.css.less";

span.selector {
  background-color: #aeaeae;
  color: black;
  padding: 5px;
  border: 1px solid #2462a5;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  &.active {
    color: white;
    background-color: #2a70ba;
  }
}

.theorem-list {
  .search-section {
    .flex-block();
    padding: 30px 60px;
    border-bottom: 1px solid black;
    .search-bar {
      .flex-grow(2);
      input {
        border: 1px solid black;
        padding: 5px;
      }
    }
  }
  .results {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

    .root-theorem-preview {
      border: 2px solid rgba(0,0,0,0.3);
      border-radius: 2px;
      padding: 20px 10px;
      margin-bottom: 15px;
      &:hover {
        background-color: #fafafa;
      }
      .header {
        .flex-block();
        margin-bottom: 10px;
        .title {
          font-size: 18px;
          font-weight: bold;
          line-height: 21px;
          cursor: pointer;
        }
      }
      .body {
        .theorem-arguments {
          color: #444;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .timestamp {
          color: #888;
          font-size: 14px;
        }
      }
    }
  }
}

.filters {
  border: 1px solid black;
  border-radius: 2px;
  overflow: hidden;
  background-color: #aaa;
  .flex-block();
  & > div {
    padding: 5px 10px;
    cursor: pointer;
    &.selected {
      background-color: black;
      color: white;
    }
  }
  .left {
    border-right: 1px solid black;
  }
}

.theorem-control-buttons {
  .flex-block();
  button {
    margin-right: 20px;
  }
}
