// Place all the styles related to the Theorems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.selector {
  background-color: #aeaeae;
  color: black;
  padding: 5px;
  border: 1px solid #2462a5;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  &.active {
    color: white;
    background-color: #2a70ba;
  }
}
